@import "tailwindcss";

:root {
  --background: oklch(0.9845 0.0067 97.35);
  --foreground: oklch(0.2225 0.0161 71.1564);
  --card: oklch(0.9986 0.0066 106.5178);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.9986 0.0066 106.5178);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.515 0.0643 82.0622);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.5271 0.0541 253.4955);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.9305 0.0206 81.7804);
  --muted-foreground: oklch(0.559 0.0424 81.2465);
  --accent: oklch(0.8868 0.1822 95.3305);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.6128 0.1155 87.8505);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.8745 0.0288 79.46);
  --input: oklch(0.775 0.0285 78.1405);
  --ring: oklch(0.6143 0.0646 82.0303);
  --chart-1: oklch(0.6081 0.0685 82.4922);
  --chart-2: oklch(0.6782 0.1388 92.3802);
  --chart-3: oklch(0.7716 0.0591 83.3682);
  --chart-4: oklch(0.4671 0.0957 85.5982);
  --chart-5: oklch(0.4236 0.0602 83.1544);
  --sidebar: oklch(0.9845 0.0067 97.35);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.515 0.0643 82.0622);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9986 0.0066 106.5178);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.8745 0.0288 79.46);
  --sidebar-ring: oklch(0.6143 0.0646 82.0303);
  --radius: 0.625rem;
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, "Times New Roman", serif;
  --radius-sm: 0.188rem;
  --radius-md: 0.25rem;
  --radius-lg: 0.375rem;
  --radius-xl: 0.5rem;
  --shadow-x: 2px;
  --shadow-y: 8px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: oklch(0.7011 0.0726 82.783);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 2px 8px 12px 0px oklch(0.7011 0.0726 82.783 / 0.1);
  --shadow-xs: 2px 8px 12px 0px oklch(0.7011 0.0726 82.783 / 0.1);
  --shadow-sm:
    2px 8px 12px 0px oklch(0.7011 0.0726 82.783 / 0.2), 2px 1px 2px -1px
    oklch(0.7011 0.0726 82.783 / 0.2);
  --shadow:
    2px 8px 12px 0px oklch(0.7011 0.0726 82.783 / 0.2), 2px 1px 2px -1px
    oklch(0.7011 0.0726 82.783 / 0.2);
  --shadow-md:
    2px 8px 12px 0px oklch(0.7011 0.0726 82.783 / 0.2), 2px 2px 4px -1px
    oklch(0.7011 0.0726 82.783 / 0.2);
  --shadow-lg:
    2px 8px 12px 0px oklch(0.7011 0.0726 82.783 / 0.2), 2px 4px 6px -1px
    oklch(0.7011 0.0726 82.783 / 0.2);
  --shadow-xl:
    2px 8px 12px 0px oklch(0.7011 0.0726 82.783 / 0.2), 2px 8px 10px -1px
    oklch(0.7011 0.0726 82.783 / 0.2);
  --shadow-2xl: 2px 8px 12px 0px oklch(0.7011 0.0726 82.783 / 0.5);
}

.dark {
  --background: oklch(0.1936 0.0148 81.4595);
  --foreground: oklch(0.9845 0.0067 97.35);
  --card: oklch(0.162 0.0142 78.8471);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.162 0.0142 78.8471);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.7827 0.1605 94.0643);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.6945 0.0524 219.0566);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.2478 0.0331 77.1567);
  --muted-foreground: oklch(0.8207 0.0385 79.0565);
  --accent: oklch(0.4236 0.0602 83.1544);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.7181 0.116 99.1185);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.3518 0.0362 79.9052);
  --input: oklch(0.4518 0.0359 81.4261);
  --ring: oklch(0.6845 0.1399 90.9572);
  --chart-1: oklch(0.6782 0.1388 92.3802);
  --chart-2: oklch(0.6081 0.0685 82.4922);
  --chart-3: oklch(0.8868 0.1822 95.3305);
  --chart-4: oklch(0.4236 0.0602 83.1544);
  --chart-5: oklch(0.4671 0.0957 85.5982);
  --sidebar: oklch(0.1936 0.0148 81.4595);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.7827 0.1605 94.0643);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.1524 0.0155 81.182);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.3518 0.0362 79.9052);
  --sidebar-ring: oklch(0.6845 0.1399 90.9572);
  --radius: 0.625rem;
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, "Times New Roman", serif;
  --radius-sm: 0.188rem;
  --radius-md: 0.25rem;
  --radius-lg: 0.375rem;
  --radius-xl: 0.5rem;
  --shadow-x: 2px;
  --shadow-y: 8px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: oklch(0.7011 0.0726 82.783);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 2px 8px 12px 0px oklch(0.7011 0.0726 82.783 / 0.1);
  --shadow-xs: 2px 8px 12px 0px oklch(0.7011 0.0726 82.783 / 0.1);
  --shadow-sm:
    2px 8px 12px 0px oklch(0.7011 0.0726 82.783 / 0.2), 2px 1px 2px -1px
    oklch(0.7011 0.0726 82.783 / 0.2);
  --shadow:
    2px 8px 12px 0px oklch(0.7011 0.0726 82.783 / 0.2), 2px 1px 2px -1px
    oklch(0.7011 0.0726 82.783 / 0.2);
  --shadow-md:
    2px 8px 12px 0px oklch(0.7011 0.0726 82.783 / 0.2), 2px 2px 4px -1px
    oklch(0.7011 0.0726 82.783 / 0.2);
  --shadow-lg:
    2px 8px 12px 0px oklch(0.7011 0.0726 82.783 / 0.2), 2px 4px 6px -1px
    oklch(0.7011 0.0726 82.783 / 0.2);
  --shadow-xl:
    2px 8px 12px 0px oklch(0.7011 0.0726 82.783 / 0.2), 2px 8px 10px -1px
    oklch(0.7011 0.0726 82.783 / 0.2);
  --shadow-2xl: 2px 8px 12px 0px oklch(0.7011 0.0726 82.783 / 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
